body {
  color: #444;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 0 10px;
  margin: 40px auto;
  max-width: 650px;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #444;
    color: white;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}
